/dts-v1/;
/plugin/;
/ {
    compatible = "allwinner,sun50i-h616";
    
    fragment@1 {
        target = <&spi1>;
        __overlay__ {
            status = "okay";
            cs-gpios = <&pio 7 5 0>,<&pio 2 15 0>; /* SPI CS pins for LCD and touch */
            touch: touchscreen@1 {
                compatible = "xpt,xpt2046";
                reg = <0>;
                spi-max-frequency = <10000000>;  // Defina a frequência de SPI do touch
                irq-gpios = <&pio 2 10 0>;  // Pino de interrupção do touch
                reset-gpios = <&pio 2 14 1>;  // Pino de reset (se necessário)
                x-min = <0>;
                x-max = <480>;
                y-min = <0>;
                y-max = <320>;
                swap-x-y;
                touchscreen-size-x = <480>;
                touchscreen-size-y = <320>;
            };
        };
    };
};
