/dts-v1/;
/plugin/;

/ {
	compatible = "allwinner,sun50i-h616";

	fragment@0 {
		target = <&pio>;
		__overlay__ {
			spi1_cs1: spi1_cs1 {
				pins = "PC10"; 
				function = "gpio_out";
				output-high;
			};

			opiz_display_pins: opiz_display_pins {
				pins = "PC14", "PC7";
				function = "gpio_out";
			};

			ads7846_pins: ads7846_pins {
				pins = "PC6";
				function = "irq";
			};
		};
	};

	fragment@1 {
		target = <&spi1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			pinctrl-1 = <&spi1_cs1>;
			pinctrl-names = "default", "default";
			cs-gpios= <0>, <&pio 2 10 0>; /* PH9 PC10 */

                        opizdisplay: opiz-display@0 {
                                reg = <0>; /* Chip Select 0 */
                                compatible = "waveshare,rpi-lcd-35";
                                spi-max-frequency = <21000000>;
                                status = "okay";
                                pinctrl-names = "default";
                                pinctrl-0 = <&opiz_display_pins>;
                                rotate = <90>;
                                bgr = <0>;
                                fps = <30>;
                                buswidth = <8>;
                                dc-gpios = <&pio 2 14 0>;      /* PC14 */
                                reset-gpios = <&pio 2 7 0 >; /* PC7 */
                                debug=<3>;
                        };

			ads7846: ads7846@1 {
				reg = <1>; /* Chip Select 1 */
				compatible = "ti,ads7846";
				spi-max-frequency = <1000000>;
				status = "okay";
				pinctrl-names = "default";
				pinctrl-0 = <&ads7846_pins>;
				interrupt-parent = <&pio>;
				interrupts = <7 6 2>; /* PC6 IRQ_TYPE_EDGE_FALLING */
				pendown-gpio = <&pio 7 6 0>; /* PC6 */
				/* driver defaults, optional */
				ti,x-min = /bits/ 16 <0>;
				ti,y-min = /bits/ 16 <0>;
				ti,x-max = /bits/ 16 <0x0FFF>;
				ti,y-max = /bits/ 16 <0x0FFF>;
				ti,pressure-min = /bits/ 16 <0>;
				ti,pressure-max = /bits/ 16 <0xFFFF>;
				ti,x-plate-ohms = /bits/ 16 <400>;
			};
		};

	};

};
